.app {
  height: 100vh;
}

.waiting-room {
  padding: 20px 50px;
  /* height: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./images/waiting1.jpg');
  background-position: 	center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.header {
  margin-bottom: 50px;
  height: 12%;
  display: flex;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-icon {
  height: 50px;
}

.header-title {
  margin-left: 10px;
}

.app-date {
  font-weight: 700;
}

.app-date span {
  margin-left: 10px;
  margin-right: 10px;
}

.waiting-container {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 600px;
  grid-template-rows: 1fr 1fr;
  height: 86%;
  z-index: 1;
}

.camera, .join-meeting {
  text-align: center;
  border-radius: 8px;
}

.side-content {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-content h1 {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: bold;
}

.side-content p {
  font-weight: 300;
}
.side-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 400px;
}

.camera {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.waiting-video-controls {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: flex-end;
}

.join-meeting {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.join-meeting h1 {
  max-width: 600px;
}

.join-meeting .join-form {
  max-width: 600px;
}

.waiting-room .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3;
  background-color: #111111;
}

.join-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.join-form .warning {
  color: red;
  margin-top: 5px;
  font-size: 15px;
}

.join-form input[type=text] {
  height: 50px;
  padding: 0px 10px;
  font-size: 16px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #9d09ff;
  color: white;
  border-radius: 8px;
}

.join-form input[type=submit] {
  height: 50px;
  background-color: #9d09ff;
  color: white;
  margin-top: 20px;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color .3s ease, color .3s ease;
  font-weight: bold;
}

.join-form input[type=submit]:hover {
  background-color: white;
  color: #BA53FF;
}

@media (max-width: 1000px) {
  .app {
    height: unset;
  }
  .waiting-container {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .side-content {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .camera {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .join-meeting {
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
